1.파이썬 기초

#제목

In [2]:
print("Hello Python")

Hello Python

# 파이썬

In [3]:
num1=10

In [4]:
num2=20

In [6]:
num3=num2+num1

In [7]:
num3

30

In [8]:
type(1)

int

In [9]:
type('파이썬')

str

In [10]:
dict1{'name':'오다해'}

SyntaxError: invalid syntax (<ipython-input-10-e35b789b4b2f>, line 1)

In [11]:
dict1{'name':'오다해'}
type(dict)

SyntaxError: invalid syntax (<ipython-input-11-d80f06da20dc>, line 1)

In [12]:
a,b=7,3.0

In [13]:
c=?

SyntaxError: invalid syntax (<ipython-input-13-49e6184c5db6>, line 1)

In [14]:
c=a/b

In [15]:
c

2.3333333333333335

In [16]:
d=a%b

In [17]:
d

1.0

In [18]:
e=a^b

TypeError: unsupported operand type(s) for ^: 'int' and 'float'

In [19]:
e=a^int(b)

In [20]:
e

4

In [21]:
e=a**b

In [22]:
e

343.0

In [23]:
int milk,judy,sera =80,75,100
int num=(milk+judy+sera)/3

SyntaxError: invalid syntax (<ipython-input-23-f8f0b5b94ef3>, line 1)

In [24]:
num

NameError: name 'num' is not defined

In [25]:
milk,judy,sera =80,75,100
num=(milk+judy+sera)/3

In [26]:
num

85.0

In [27]:
int(num)

85

In [28]:
bool([1,2,3])

True

In [29]:
bool([])

False

In [38]:
a =input("점수 입력1: ")
b =input("점수 입력2: ")
c =input("점수 입력3: ")
bool(a > 65 and b > 65 and c > 65)

점수 입력1: 78
점수 입력2: 98
점수 입력3: 99

TypeError: '>' not supported between instances of 'str' and 'int'

'50'

In [39]:
a =input("점수 입력1: ")
b =input("점수 입력2: ")
c =input("점수 입력3: ")
bool(a > 65 and b > 65 and c > 65)

점수 입력1: 78
점수 입력2: 88
점수 입력3: 988

TypeError: '>' not supported between instances of 'str' and 'int'

In [40]:
int a =input("점수 입력1: ")

점수 입력1: 89

In [41]:
b =input("점수 입력2: ")

점수 입력2: 88

In [42]:
c =input("점수 입력3: ")

점수 입력3: 87

In [44]:
a > 65 and b > 65 and c > 65

TypeError: '>' not supported between instances of 'str' and 'int'

In [1]:
import pandas as pd

In [3]:
pd._version_

AttributeError: module 'pandas' has no attribute '_version_'

In [4]:
"과일"*3

'과일과일과일'

In [5]:
"과일"+"사과"

'과일사과'

In [6]:
quote="안녕하세요"

In [7]:
len(quote)

5

In [8]:
print(quote[1])

녕

In [13]:
print(quote[0:6])

안녕하세요

In [18]:
print(quote[0:6:2])
print(quote[-1])
print(quote[-1:])

안하요
요
요

In [32]:
a="20190505chicken19000"
year=a[:4]
day=a[4:8]
menu=a[8:15]
money=a[15:]
print(year)
print(day)
print(menu)
print(money)w

2019
0505
chicken

'19000'

In [49]:
math =80
eng=60

In [54]:
a="수학점수: {}, 영어점수 :{}".format(math, eng)
print(a)

수학점수: 80, 영어점수 :60

In [56]:
a="수학점수: {1}, 영어점수 :{0}".format(math, eng)
print(a)

수학점수: 60, 영어점수 :80

In [57]:
a="수학점수: {1}, 영어점수 :{0},{0}".format(math, eng)
print(a)

수학점수: 60, 영어점수 :80,80

In [58]:
a="수학점수: %s, 영어점수 :%s"%(math, eng)
print(a)

수학점수: 80, 영어점수 :60

In [59]:
science=40
a="수학점수: {1}, 영어점수 :{0} 과학점수 {add}".format(math, eng,add=science)
print(a)

수학점수: 60, 영어점수 :80 과학점수 40

In [60]:
a="수학점수: {1}, 영어점수 :{0} 과학점수 {add}".format(math, eng,add=science)

In [84]:
a=" 90:30:80 "
math,english,science=a.strip().split(":")
average=(int(math)+int(english)+int(science))/3
average

66.66666666666667

In [85]:
x=10
if x==10:
    pass

In [10]:
a=input("점수1:")
b=input("점수2:")
c=input("점수3:")

if 0<=int(a)<=100 and 0<=int(b)<=100 and 0<=int(c)<=100 :
    if int(a)>65 and int(b)>65 and int(c)>65 :
        print("합격")
    else :
        print("불합격")
else:
    print("잘못된 점수가 입력되었습니다")

점수1:78
점수2:44
점수3:69
불합격

In [8]:
num=input("정수를 입력해주세요: ")
if int(num)%2==1 :
    print("입력하신 {}는 홀수 입니다".format(num))
else :
    print("입력하신 {}는 짝수 입니다".format(num))

정수를 입력해주세요: 4
입력하신 4는 짝수 입니다

In [11]:
range(10)

range(0, 10)

In [7]:
a=list(range(10))
a.sort(reverse=True)
a

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [13]:
for i in range(10):
    print("현재값:",i)

현재값: 0
현재값: 1
현재값: 2
현재값: 3
현재값: 4
현재값: 5
현재값: 6
현재값: 7
현재값: 8
현재값: 9

In [17]:
i=int(input("정수를 입력해 주세요:"))
for i in range(i):
    print("안녕")

정수를 입력해 주세요:5
안녕
안녕
안녕
안녕
안녕

In [22]:
i=int(input("정수를 입력해 주세요:"))
for i in range(i):
    print("*"*(i+1));

정수를 입력해 주세요:5
*
**
***
****
*****

In [21]:
i=int(input("정수를 입력해 주세요:"))
for a in range(i,0,-1):
    print("*"*a);

정수를 입력해 주세요:4
****
***
**
*

In [25]:
i=int(input("정수를 입력해 주세요:"))
list1=list(range(i))
list1.reverse()
for i in list1:
    print("*"*(i+1));

정수를 입력해 주세요:5
*****
****
***
**
*

In [26]:
i=int(input("정수를 입력해 주세요:"))
for a in range(i):
    print("*"*(i-a));

정수를 입력해 주세요:5
*****
****
***
**
*

In [28]:
a=['a','b','c','d','e']

In [32]:
for idx, val in enumerate(a):
    print(idx, val, sep=", ")

0, a
1, b
2, c
3, d
4, e

In [33]:
enumerate(a)

# (1) x = [3, 6, 9, 20, -7, 5] 의값의모든요소에10을곱한뒤출력하세요
심화: 출력과리스트x 의값에도모두10을곱해주세요

In [7]:
x=[3,6,9,20,-7,5]
for i in x:
    print(i*10)

30
60
90
200
-70
50

In [9]:
x=[3,6,9,20,-7,5]
for idx, item in enumerate(x):
#    print(idx)
#    print(item)
#    print('-'*10)
#   x[idx]=item*10
    x[idx]*=10
print(x)

[30, 60, 90, 200, -70, 50]

In [40]:
x=[3,6,9,20,-7,5]
for i in range(len(x)) :
    x[i]=x[i]*10
print(x)

[30, 60, 90, 200, -70, 50]

# (2) y = {“math”: 70, “science”: 80, “english”: 20} 의값의모든요소에10을더한뒤출력하세요
심화: 출력과딕셔너리y 의값에도모두10을더해주세요

In [10]:
y = {"math": 70, "science": 80, "english": 20}
for key in y.keys():
    y[key]=y[key]+10
y

{'math': 80, 'science': 90, 'english': 30}

In [13]:
y = {"math": 70, "science": 80, "english": 20}
for i in y:
    print(i,y[i]+10)

math 80
science 90
english 30

######심화############

In [15]:
y = {"math": 70, "science": 80, "english": 20}
for i in y:
    y[i]+=10
    print(i,y[i])
print(y)

math 80
science 90
english 30
{'math': 80, 'science': 90, 'english': 30}

# (3) 숫자를입력받고입력받은정수의구구단을출력하세요

In [17]:
num=int(input("정수를 입력해주세요: "))
for i in range(9):
    print("{}x{} = {}".format(num,i+1,num*(i+1)))

정수를 입력해주세요: 9
9x1 = 9
9x2 = 18
9x3 = 27
9x4 = 36
9x5 = 45
9x6 = 54
9x7 = 63
9x8 = 72
9x9 = 81

In [16]:
for i in range(1,10):
    for j in range(1,10):
        print("{}x{} = {}".format(i,j,j*i))

1x1 = 1
1x2 = 2
1x3 = 3
1x4 = 4
1x5 = 5
1x6 = 6
1x7 = 7
1x8 = 8
1x9 = 9
2x1 = 2
2x2 = 4
2x3 = 6
2x4 = 8
2x5 = 10
2x6 = 12
2x7 = 14
2x8 = 16
2x9 = 18
3x1 = 3
3x2 = 6
3x3 = 9
3x4 = 12
3x5 = 15
3x6 = 18
3x7 = 21
3x8 = 24
3x9 = 27
4x1 = 4
4x2 = 8
4x3 = 12
4x4 = 16
4x5 = 20
4x6 = 24
4x7 = 28
4x8 = 32
4x9 = 36
5x1 = 5
5x2 = 10
5x3 = 15
5x4 = 20
5x5 = 25
5x6 = 30
5x7 = 35
5x8 = 40
5x9 = 45
6x1 = 6
6x2 = 12
6x3 = 18
6x4 = 24
6x5 = 30
6x6 = 36
6x7 = 42
6x8 = 48
6x9 = 54
7x1 = 7
7x2 = 14
7x3 = 21
7x4 = 28
7x5 = 35
7x6 = 42
7x7 = 49
7x8 = 56
7x9 = 63
8x1 = 8
8x2 = 16
8x3 = 24
8x4 = 32
8x5 = 40
8x6 = 48
8x7 = 56
8x8 = 64
8x9 = 72
9x1 = 9
9x2 = 18
9x3 = 27
9x4 = 36
9x5 = 45
9x6 = 54
9x7 = 63
9x8 = 72
9x9 = 81

# (1) word = [“school”, “game”, “piano”, “science”, “hotel”, “mountian”] 중글자수가6글자이상인문자를모아새로운리스트를생성하세요

In [2]:
words = ["school","game","piano","science","hotel","mountian"]
new_word=[]
for word in words:
    if len(word)>=6:
        new_word.append(word)            
new_word

['school', 'science', 'mountian']

In [1]:
word = ["school","game","piano","science","hotel","mountian"]
new=[]
for i in range(len(word)):
    if len(word[i])>=6:
        new.append(word[i])            
new

['school', 'science', 'mountian']

# 1-100 까지숫자중3과5의공배수일경우“3과5의공배수” 나머지숫자중3의배수일경우“3의배수”나머지숫자중5의배수일경우“5의배수”모두해당되지않을경우그냥숫자를출력하세요
심화: 1-입력한숫자까지의숫자중

In [108]:
a=[]
b=[]
c=[]
for i in range(1,101):
    if i%3==0 and i%5==0 :
        a.append(i)
    elif i%3==0 :
        b.append(i)
    elif i%5==0:
        c.append(i)
print("3과 5의 공배수 ", a)
print("3의 배수 ", b)
print("5의 배수 ", c)

3과 5의 공배수  [15, 30, 45, 60, 75, 90]
3의 배수  [3, 6, 9, 12, 18, 21, 24, 27, 33, 36, 39, 42, 48, 51, 54, 57, 63, 66, 69, 72, 78, 81, 84, 87, 93, 96, 99]
5의 배수  [5, 10, 20, 25, 35, 40, 50, 55, 65, 70, 80, 85, 95, 100]

In [111]:
d=[]
e=[]
f=[]
i=int(input("정수를 입력하세요: "))
for i in range(1,(i+1)):
    if i%3==0 and i%5==0 :
        d.append(i)
    elif i%3==0 :
        e.append(i)
    elif i%5==0:
        f.append(i)
print("3과 5의 공배수 ", d)
print("3의 배수 ", e)
print("5의 배수 ", f)

정수를 입력하세요: 7
3과 5의 공배수  []
3의 배수  [3, 6]
5의 배수  [5]