In [2]:
import numpy as np
import pandas as pd

In [3]:
cctv_seoul = pd.read_excel('data/cctv_seoul.xlsx')

In [4]:
#sep이 tab으로 되어 있다???

pop_seoul=pd.read_csv('data/population_seoul.txt',sep='\t',header=2)

In [5]:
pop_seoul.columns

Index(['기간', '자치구', '세대', '계', '남자', '여자', '계.1', '남자.1', '여자.1', '계.2',
       '남자.2', '여자.2', '세대당인구', '65세이상고령자'],
      dtype='object')

In [6]:
# pop_seoul=pop_seoul.rename(columns= {pop_seoul.columns[1]: '구별'})
pop_seoul.rename(columns= {pop_seoul.columns[1]: '구별'},inplace=True)

In [7]:
pop_seoul.head()

,기간,구별,세대,계,남자,여자,계.1,남자.1,여자.1,계.2,남자.2,여자.2,세대당인구,65세이상고령자
0,2019.3/4,합계,"4,315,921","10,025,927","4,887,068","5,138,859","9,740,398","4,751,696","4,988,702","285,529","135,372","150,157",2.26,"1,468,146"
1,2019.3/4,종로구,"73,942","162,860","78,523","84,337","151,767","73,952","77,815","11,093","4,571","6,522",2.05,"27,394"
2,2019.3/4,중구,"62,593","136,663","67,030","69,633","126,409","62,161","64,248","10,254","4,869","5,385",2.02,"23,025"
3,2019.3/4,용산구,"109,911","244,989","119,499","125,490","228,830","110,478","118,352","16,159","9,021","7,138",2.08,"38,531"
4,2019.3/4,성동구,"136,466","311,290","152,134","159,156","303,158","148,510","154,648","8,132","3,624","4,508",2.22,"43,662"

In [8]:
cctv_seoul.columns

Index(['기관명', '소계', '2011년 이전', '2012년', '2013년', '2014년', '2015년', '2016년',
       '2017년', '2018년'],
      dtype='object')

In [9]:
# cctv_seoul.rename(columns={cctv_seoul.columns[0]:'구별'},inplace=True)
#같은 결과
columnnames=list(cctv_seoul.columns)
columnnames[0]='구별'
cctv_seoul.columns=columnnames

In [10]:
cctv_seoul.head()

      구별    소계  2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
0  강 남 구  5221    1944.0  195.0  316.0    430    546    765    577    448
1  강 동 구  1879     303.0  387.0  134.0     59    144    194    273    385
2  강 북 구  1265     243.0   88.0  141.0     74    145    254      1    319
3  강 서 구  1617     219.0  155.0  118.0    230    187    190    264    254
4  관 악 구  3985     430.0   56.0  419.0    487    609    619    694    671

In [11]:
cctv_seoul['구별'][1]

'강 동 구'

In [12]:
pop_seoul['구별'][1]

'종로구'

In [14]:
cctv_seoul['구별'].apply(lambda x: "".join(x.split(" ")))
#cctv_seoul['구별'].apply(lambda x:x.replace(" ", ""))
#cctv_seoul['구별'].apply(delete_space)
#cctv_seoul['구별'] = \

0      강남구
1      강동구
2      강북구
3      강서구
4      관악구
5      광진구
6      구로구
7      금천구
8      노원구
9      도봉구
10    동대문구
11     동작구
12     마포구
13    서대문구
14     서초구
15     성동구
16     성북구
17     송파구
18     양천구
19    영등포구
20     용산구
21     은평구
22     종로구
23      중구
24     중랑구
Name: 구별, dtype: object

In [15]:
pop_seoul = pop_seoul[["구별", "계", "계.1", "계.2", "65세이상고령자"]]
pop_seoul.head()

    구별           계        계.1      계.2   65세이상고령자
0   합계  10,025,927  9,740,398  285,529  1,468,146
1  종로구     162,860    151,767   11,093     27,394
2   중구     136,663    126,409   10,254     23,025
3  용산구     244,989    228,830   16,159     38,531
4  성동구     311,290    303,158    8,132     43,662

In [17]:
pop_columns = ["구별", "인구수", "한국인", "외국인", "고령자"]
pop_seoul.columns = pop_columns
pop_seoul.head(2)

    구별         인구수        한국인      외국인        고령자
0   합계  10,025,927  9,740,398  285,529  1,468,146
1  종로구     162,860    151,767   11,093     27,394

In [18]:
cctv_seoul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 10 columns):
구별          25 non-null object
소계          25 non-null int64
2011년 이전    23 non-null float64
2012년       23 non-null float64
2013년       23 non-null float64
2014년       25 non-null int64
2015년       25 non-null int64
2016년       25 non-null int64
2017년       25 non-null int64
2018년       25 non-null int64
dtypes: float64(3), int64(6), object(1)
memory usage: 2.1+ KB

In [19]:
pop_seoul.head()

    구별         인구수        한국인      외국인        고령자
0   합계  10,025,927  9,740,398  285,529  1,468,146
1  종로구     162,860    151,767   11,093     27,394
2   중구     136,663    126,409   10,254     23,025
3  용산구     244,989    228,830   16,159     38,531
4  성동구     311,290    303,158    8,132     43,662

In [20]:
pop_seoul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 5 columns):
구별     26 non-null object
인구수    26 non-null object
한국인    26 non-null object
외국인    26 non-null object
고령자    26 non-null object
dtypes: object(5)
memory usage: 1.1+ KB

In [22]:
cctv_seoul.sort_values(by="소계",ascending=False).head(5)

       구별    소계  2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
0   강 남 구  5221    1944.0  195.0  316.0    430    546    765    577    448
4   관 악 구  3985     430.0   56.0  419.0    487    609    619    694    671
6   구 로 구  3227     852.0  219.0  349.0    187    268    326    540    486
16  성 북 구  3003     779.0   84.0  304.0    241    279    388    285    643
21  은 평 구  2962    1365.0   83.0   99.0    343    180    296    229    367